#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

extensions:
	navigation: Netlte\Navigation\Bridges\Nette\NavigationExtension

services: