<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" n:inner-foreach="$control->getComponents() as $name => $c">
        {control $name}
    </section>
    <!-- /.sidebar -->
</aside>